.error-alert {
    width: 344px;
    height: 78px;
    box-sizing: border-box;
    background: #842323;
    border: 1px solid #cb7474;
    border-radius: 4px;
    padding: 18px 21px;

    h1 {
        width: 308px;
        height: 36px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
    }
}
